* {
    font-family: gorditareg;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: gorditareg;
    src: url(fonts/Gordita\ Regular.otf);
}

@font-face {
    font-family: gorditalight;
    src: url(fonts/Gordita\ Light.otf)
}

@font-face {
    font-family: gorditareg;
    src: url(fonts/Gordita\ Medium.otf);
}

@font-face {
    font-family: gorditathin;
    src: url(fonts/Gordita\ Thin.otf);
}

img {
    width: 100%
}

.main-page {
    position: relative;
    z-index: 999;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    /* font-family: gorditalight; */
    color: #727272;
}

.wrapper {
    max-width: 1300px;
    margin: auto;
}

.horzontalnavigation_list-item {
    text-decoration: none;
    list-style: none;
    font-family: gorditalight;
    font-size: 15px;
    position: relative;
}

.horizontalnavigation_list {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* gap: 1rem; */
    margin: 0;
    padding: 0;
}

.siteheader_nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
}

.horizontalnavigation {
    padding: 0 0 0 32px;

}

.navigation_dropdown {
    padding: 0 13px;
    margin: 0;
    background: none;
    border-radius: 0;
    border: 0;
    color: #727272;
    position: relative;
    display: inline-block;
    height: 100%;
    letter-spacing: 0;
    font-size: 14px;
    line-height: 56px;
}

.ri-arrow-drop-down-line:before {
    font-size: 17px;
}

.siteheader_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.siteheader_contact {
    display: flex;
    /* gap: 20px; */
    align-items: center;
}

.siteheader_world {
    margin-bottom: -4px;
    padding-right: 1rem;
}

.siteheader_logo {
    margin-bottom: -10px;
}

.button_css-0 {
    background-color: black;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    padding-right: 13px;
    padding-left: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 1rem;
}

.button_css-0:hover {
    background-color: #f06a6a;
    transition: .3s;

}

.Contact_Sales {
    border-left: solid 1px grey;
    padding-left: 1rem;
    font-size: 14px;
}

.Log_In {
    font-size: 14px;
    padding-left: 1rem;
}

.navigation_dropdown-active {
    /* display: none; */
    background-image: linear-gradient(to right, #fff 60%, #fafafa 40%);
    position: absolute;
    width: 100%;
    top: -200rem;
    z-index: -1;
    transition: .5s;
    box-shadow: 0 50px 60px 0 rgb(36 50 66 / 26%);

}

.maindropdown {
    display: flex;
    position: relative;
    /* justify-content: center; */
    /* padding: 1rem; */
    gap: 2rem;
    border-right: solid 1px #dedede;
    width: 60%;
    padding-top: 3rem;

}

.navigation_dropdown-active a {
    color: rgb(64, 64, 64);
}

.navigation_dropdown-active li {
    padding-top: 2rem;
    font-family: gorditareg !important;
    font-size: 13px;
}

.navigation_dropdown-active p {
    padding-top: 2rem;
    font-family: gorditalight;
    font-size: 11px;
}

.sub-dropdown .heading {
    border-bottom: solid 1px #dedede;
    padding-bottom: 1rem;
    font-family: gorditareg !important;
    font-size: 12px;
}

.sub-dropdown {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    padding: 2rem;
}

.semi-col {
    display: flex;
    gap: 4rem;
}

.navigation_dropdown-active p {
    font-size: 11px;
    color: #727272;
    padding-top: 10px;
}

.highlight {
    background-color: rgb(109, 48, 252);
    color: white;
    padding: 3px;
    border-radius: 5px;
    font-size: 11px;
}

.Main-felx-area {
    display: flex;
}

.main-socail-area {
    background: #fafafa;
    width: 40%;
    padding: 2rem;
    padding-top: 5rem;
}

.Templates h3 {
    font-family: gorditareg !important;
    font-size: 12px;
    color: rgb(64, 64, 64);
    border-bottom: solid 1px #dedede;
    padding-bottom: 1rem;
}

.templates_colums p {
    padding-top: 13px;
    color: #2b2b2b;
}

.cs h3 {
    padding-top: 2rem;
}

.bootom {
    /* width: 100%; */
    display: flex;
    background-color: #eeebea;
    padding: 9px;
    padding-left: 6rem;
}

.bootom p {
    font-size: 11px;
    font-family: gorditareg !important;
    padding: 5px;
    color: #323232;
}

.border-2 {
    border-left: solid 1px #000000;
}

.dropdown-feature {
    display: flex;
    padding-top: 1rem;
    gap: 7rem;
}

.main-socail-feature {
    padding: 1rem;
}

.w-100 {
    width: 100%;
    border-bottom: solid 1px #dedede;
    padding-bottom: 2rem;
}

.maindropdown-feature {
    border-right: solid 1px #dedede;
    width: 60%;

}

.dropdown-feature a {
    color: #2b2b2b;
    padding-bottom: 5px;
    display: block;
    font-size: 14px;
}

.dropdown-feature p {
    color: #727272;
    font-size: 11px;
    font-family: gorditalight;
    padding-bottom: 4rem;
}

.main-socail-feature {
    width: 40%;
    padding-top: 6rem;
}

.templates_colums a {
    color: #2b2b2b;
    font-size: 14px;
}

.templates_colums p {
    color: #727272;
    font-size: 11px;
}

.templates_colums li {
    padding: 1rem;
}

.banner-icon {
    background: #2b2b2b;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    padding: 2px;
}

.navigation_dropdown-feature {
    background-image: linear-gradient(to right, #fff 60%, #fafafa 40%);
    position: absolute;
    width: 100%;
    top: -200rem;
    /* top: 0; */
    z-index: -1;
    transition: .5s;
    box-shadow: 0 50px 60px 0 rgb(36 50 66 / 26%);
}

.sub-dropdown-feature {
    padding-top: 5rem;

}
.siteheader_row{
    display: flex;
    justify-content: space-between;
}

.menu-button {
    display: none;
    position: absolute;
    right: 0;
    width: 30px;
    padding-right: 1rem;
}

.responsive-dropdown {
    display: none;
    padding-top: 1rem;
    background: #fafafa;
}

.responsive-dropdown ul {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 35px;
}

.responsive-dropdown li {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: solid 1px #dedede;
    color: #5a5a5a;
    font-size: 15px;

}

.responsive-btns {
    display: none;
    
}

@media(max-width:1100px) {
    .responsive-btns {
        margin-left: 1rem;
        display: block;
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        margin-top: 5rem;
    }
.responsive-btn{
    margin-bottom: 1rem;
    padding: 1rem;
    background: black;
    color: white;
    border: 1px;
}
.responsive-log{
    border-width: 3px;
    border-block-color: black;
    padding: 1rem;
    background: white;
}
.horizontalnavigation {
    display: none;
}

.siteheader {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.siteheader_contact {
    display: none;
}

.menu-button {
    display: block;
}
}

@media(max-width:400px) {
    .main-page {
        position: unset;
        z-index: 999;
    }
}